<div class="row">
    <div class="col-sm-8 col-sm-offset-2">
    <h1>Session 2</h1> <br><br>
      
    <button class="btn btn-primary btn-lg btn-block" >Situation</button>   
    <button class="btn btn-primary btn-lg btn-block" (click)="onNewRT()">Realistic thinking</button>
    <button class="btn btn-primary btn-lg btn-block" (click)="onNewLG()">Logbook</button>
  
    </div>
  </div>  