<div class="row">
    <div class="col-sm-8 col-sm-offset-2">
    <h1>Session 2</h1>
    <h2>Logbook</h2> <br>
      <form [formGroup]="lg2Form" (ngSubmit) = "onSaveLG()">
        <div class="form-group">
          <label for='r1'>What's happens ?</label>
          <input type="text" id= "r1"
                  class="form-control" 
                  formControlName = "r1"
                  >
        </div>
        <div class="form-group">
            <label for='r2'>What did I think ?</label>
            <input type="text" id= "r2"
                    class="form-control" 
                    formControlName = "r2">
        </div>
        <div class="form-group">
            <label for='r3'>What did I feel ?</label>
            <input type="text" id= "r3"
                    class="form-control" 
                    formControlName = "r3">              
        </div>
        <div class="form-group">
            <label for='r4'>What did I do ?</label>
            <input type="text" id= "r4"
                    class="form-control" 
                    formControlName = "r4">
        </div>
        <div class="form-group">
            <label for='r5'>Stress scame (1 to 10) </label>
            <input type="text" id= "r5"
                    class="form-control" 
                    formControlName = "r5">              
        </div>
        
        <button class="btn btn-primary" [disabled]="lg2Form.invalid "
        type="submit">Save
        </button>              
      </form>       
    </div>
  </div>