<div class="row">
    <div class="col-sm-8 col-sm-offset-2">
    <h1>Session 6</h1> <br><br>
    <h2>Enjoying life and paying attention ...
        ... and Acts of Kindness  </h2>
        
    </div>
</div>  