<div class="row">
    <div class="col-sm-8 col-sm-offset-2">
    <h1>Session 3</h1>
    <h2>Logbook</h2> <br>
      <form [formGroup]="lg3Form" (ngSubmit) = "onSaveLG()">
        <div class="form-group">
          <label for='r1'>What's made me angry ..</label>
          <input type="text" id= "r1"
                  class="form-control" 
                  formControlName = "r1">
        </div>
        <div class="form-group">
            <label for='r2'>Early warning signs  </label>
            <input type="text" id= "r2"
                    class="form-control" 
                    formControlName = "r2">
        </div>
        <div class="form-group">
            <label for='r3'>Cool off strategy</label>
            <input type="text" id= "r3"
                    class="form-control" 
                    formControlName = "r3">              
        </div>
        
        <button class="btn btn-primary" [disabled]="lg3Form.invalid "
        type="submit">Save
        </button>              
      </form>       
    </div>
  </div>