<nav class="navbar navbar-default">
  <div class="container-fluid">
         
    <ul class="nav navbar-nav navbar-default">
        <li routerLinkActive="active">
          <h2 routerLink="home">DeStress</h2>
        </li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li routerLinkActive="active" *ngIf="!isAuth">
        <h3 routerLink="auth/signup">Sign up</h3>
      </li>
      <li routerLinkActive="active" *ngIf="!isAuth">
        <h3 routerLink="auth/signin">Sign in</h3>
      </li>
      <li>
        <h2 (click)="onSignOut()"
           style="cursor:pointer"
           *ngIf="isAuth">Disconnect</h2>
      </li>
    </ul>
  </div>
</nav> 