<div class="row">
    <div class="col-sm-8 col-sm-offset-2">
    <h1>Session 9</h1> <br><br>
      
    <button class="btn btn-primary btn-lg btn-block" (click)= 'onNewAS()'>Any succes with</button>   
    <button class="btn btn-primary btn-lg btn-block" (click)= 'onNewSS()'>Six steps</button>
    <button class="btn btn-primary btn-lg btn-block" (click) = 'onNewHC()'>Helpful coping</button>
  
    </div>
  </div>  