<div class="row">
    <div class="col-sm-8 col-sm-offset-2">
    <h1>Session 7</h1>
    <h2>Realistic Goal</h2><br>
      <form [formGroup]="raForm" (ngSubmit) = "onSaveRA()">
        <div class="form-group">
          <label for='r1'>My relistic goal for th en next week is :</label>
          <input type="text" id= "r1"
                  class="form-control" 
                  formControlName = "r1"
                  >
        </div>
        <div class="form-group">
            <label for='r2'>How important is your goal to you ?</label>
            <input type="text" id= "r2"
                    class="form-control" 
                    formControlName = "r2">
        </div>
        <div class="form-group">
            <label for='r3'>How confident are you of achieving it</label>
            <input type="text" id= "r3"
                    class="form-control" 
                    formControlName = "r3">              
        </div>
        <div class="form-group">
              <label for='r4'>How confident are you of achieving it ?</label>
              <input type="text" id= "r4"
                     class="form-control" 
                     formControlName = "r4">
        
                  
        </div>
        <button class="btn btn-success" [disabled]="raForm.invalid "
        type="submit">Save
  </button>
            
      </form>
    </div>
  </div>