<div class="row">
        <div class="col-sm-8 col-sm-offset-2">
        <h1>Session 5</h1> <br><br>
          
        <button class="btn btn-primary btn-lg btn-block" (click)="onNewSTR()">Strengths</button>   
        <button class="btn btn-primary btn-lg btn-block" (click) ="onNewRE()">Relaxation</button>
      
        </div>
      </div>  