<div class="row">
    <div class="col-sm-8 col-sm-offset-2">
    <h1>Session 7</h1>
    <h2>Habit</h2> <br>
      <form [formGroup]="haForm" (ngSubmit) = "onSaveHA()">
        <div class="form-group">
          <label for='r1'>A habit you'd like to change:</label>
          <input type="text" id= "r1"
                  class="form-control" 
                  formControlName = "r1"
                  >
        </div>
        <div class="form-group">
            <label for='r2'>Good things :</label>
            <input type="text" id= "r2"
                    class="form-control" 
                    formControlName = "r2">
        </div>
        <div class="form-group">
            <label for='r3'>Not so good :</label>
            <input type="text" id= "r3"
                    class="form-control" 
                    formControlName = "r3">              
        </div>
        <div class="form-group">
            <label for='r4'>Why ?</label>
            <input type="text" id= "r4"
                    class="form-control" 
                    formControlName = "r4">
        </div>
        <div class="form-group">
            <label for='r5'>My goal :</label>
            <input type="text" id= "r5"
                    class="form-control" 
                    formControlName = "r5">              
        </div>
        
        <button class="btn btn-primary" [disabled]="haForm.invalid "
        type="submit">Save
        </button>              
      </form>       
    </div>
  </div>