<div class="row">
    <div class="col-sm-8 col-sm-offset-2">
      <h1>Sessions</h1> <br><br>
      
      <button class="btn btn-primary btn-lg btn-block" (click)="onGoSession1()">Session 1</button>     
      <button class="btn btn-primary btn-lg btn-block" (click)="onGoSession2()">Session 2</button>    
      <button class="btn btn-primary btn-lg btn-block" (click)="onGoSession3()">Session 3</button>     
      <button class="btn btn-primary btn-lg btn-block" (click)="onGoSession4()">Session 4</button>   
      <button class="btn btn-primary btn-lg btn-block" (click)="onGoSession5()">Session 5</button>     
      <button class="btn btn-primary btn-lg btn-block" (click)="onGoSession6()">Session 6</button>     
      <button class="btn btn-primary btn-lg btn-block" (click)="onGoSession7()">Session 7</button>   
      <button class="btn btn-primary btn-lg btn-block" (click)="onGoSession8()">Session 8</button>     
      <button class="btn btn-primary btn-lg btn-block" (click)="onGoSession9()">Session 9</button>    

  
    </div>
  </div>  