<div class="row">
    <div class="col-sm-8 col-sm-offset-2">
    <h1>Session 7</h1>
    <h2>Triggers</h2> <br>
      <form [formGroup]="trForm" (ngSubmit) = "onSaveTR()">
        <h3>Think back to the last time you did…..’whatever it is</h3>
        <div class="form-group">
          <label for='r1'>What was the situation?</label>
          <input type="text" id= "r1"
                  class="form-control" 
                  formControlName = "r1"
                  >
        </div>
        <div class="form-group">
            <label for='r2'>What were your triggers in that situation?</label>
            <input type="text" id= "r2"
                    class="form-control" 
                    formControlName = "r2">
        </div>
        <div class="form-group">
            <label for='r3'>What were the immediate consequences ?</label>
            <input type="text" id= "r3"
                    class="form-control" 
                    formControlName = "r3">              
        </div>
        <div class="form-group">
            <label for='r4'>What were the delayed consequences ?</label>
            <input type="text" id= "r4"
                    class="form-control" 
                    formControlName = "r4">
        </div>
        <div class="form-group">
            <label for='r5'>How Ill deal with it </label>
            <input type="text" id= "r5"
                    class="form-control" 
                    formControlName = "r5">              
        </div>
        
        <button class="btn btn-primary" [disabled]="trForm.invalid "
        type="submit">Save
        </button>              
      </form>       
    </div>
  </div>