<div class="row">
    <div class="col-sm-8 col-sm-offset-2">
    <h1>Session 5</h1> <br><br>
    <h2>Relaxation </h2><br><br>
        <h3>Remind yourself throughout the day to
        SOFTEN and drop your shoulders. <br><br>       
        You can do Progressive Relaxation if you can’t
        sleep at night – you tighten up the muscles,
        then hold them tight for a few seconds, then
        let go. Start with your toes, then feet, then
        calf muscles, then thighs, and keep going up
        through the body. <br><br>        
       </h3>
        
    </div>
    <button class="btn btn-primary " (click)= 'onRE()'>Ok</button>   

</div>  