<div class="row">
  <div class="col-sm-8 col-sm-offset-2">
  <h1>Session 8</h1>
  <h2>My Goal</h2><br>
    <form [formGroup]="mgForm" (ngSubmit) = "onSaveMG()">
      <div class="form-group">
        <label for='r1'>Did you complete your acticity from last Session ? If not, what happened?</label>
        <textarea type="text" id= "r1"
                class="form-control" 
                formControlName = "r1"></textarea>
      </div>
      <div class="form-group">
          <label for='r2'>My goal for the next week is ..</label>
          <input type="text" id= "r2"
                  class="form-control" 
                  formControlName = "r2">
      </div>
      <div class="form-group">
          <label for='r3'>How confident are you of achieving it ?</label>
          <input type="text" id= "r3"
                  class="form-control" 
                  formControlName = "r3">              
      </div>
      <h3>I noticed the following acts of kindness last week ..</h3>
      <div class="form-group">
          <label for='r4'>At school :</label>
          <input type="text" id= "r4"
                   class="form-control" 
                   formControlName = "r4">
      </div>
      <div class="form-group">
        <label for='r5'>At home :</label>
        <input type="text" id= "r5"
                class="form-control" 
                formControlName = "r5">
      </div>
      <div class="form-group">
          <label for='r6'>At ...</label>
          <input type="text" id= "r6"
                  class="form-control" 
                  formControlName = "r6">                
      </div>
      <button class="btn btn-success" [disabled]="mgForm.invalid "
      type="submit">Save
      </button>          
    </form>
  </div>
</div>