<div class="row">
    <div class="col-sm-8 col-sm-offset-2">
    <h1>Session 3</h1>
    <h2>Getting angry ?</h2> <br>
      <form [formGroup]="gaForm" (ngSubmit) = "onSaveGA()">
        <h3>When I am very angry...</h3>
        <div class="form-group">
          <label for='r1'>I think ...</label>
          <input type="text" id= "r1"
                  class="form-control" 
                  formControlName = "r1">
        </div>
        <div class="form-group">
            <label for='r2'>I feel ...</label>
            <input type="text" id= "r2"
                    class="form-control" 
                    formControlName = "r2">
        </div>
        <div class="form-group">
            <label for='r3'>I do ...</label>
            <input type="text" id= "r3"
                    class="form-control" 
                    formControlName = "r3">              
        </div>
        <h3>When I start to lose it...</h3>
        <div class="form-group">
          <label for='r4'>I think ...</label>
          <input type="text" id= "r4"
                  class="form-control" 
                  formControlName = "r4"
                  >
        </div>
        <div class="form-group">
            <label for='r5'>I feel ...</label>
            <input type="text" id= "r5"
                    class="form-control" 
                    formControlName = "r5">
        </div>
        <div class="form-group">
            <label for='r6'>I do ...</label>
            <input type="text" id= "r6"
                    class="form-control" 
                    formControlName = "r6">              
        </div>
        <h3>When I am strarting to get annoyed...</h3>
        <div class="form-group">
          <label for='r7'>I think ...</label>
          <input type="text" id= "r7"
                  class="form-control" 
                  formControlName = "r7"
                  >
        </div>
        <div class="form-group">
            <label for='r8'>I feel ...</label>
            <input type="text" id= "r8"
                    class="form-control" 
                    formControlName = "r8">
        </div>
        <div class="form-group">
            <label for='r9'>I do ...</label>
            <input type="text" id= "r9"
                    class="form-control" 
                    formControlName = "r9">              
        </div>
        <div class="form-group">
            <label for='r10'>the number of anger (1 to 10)</label>
            <input type="text" id= "r10"
                    class="form-control" 
                    formControlName = "r10">              
        </div>
        
        <button class="btn btn-primary" [disabled]="gaForm.invalid "
        type="submit">Save
        </button>              
      </form>       
    </div>
  </div>
  