<div class="row">
    <div class="col-sm-8 col-sm-offset-2">
    <h1>Session 9</h1> <br><br><br><br>
    <h2>Being assertive about who you are. <br><br>
        Facing challenges even when it feels
        uncomfortable. <br><br>       
        Talking about problems with friends or family. <br><br>        
        Taking time out to get a new view on a
        problem. <br><br>        
        Acknowledging your strengths and accepting
        your limitations. <br><br>        
        Having a balance between work and play. <br><br>        
        Releasing stress through sports or activities. <br><br>        
        Doing things you enjoy. <br><br>        
        Enjoying the good things in your life and
        practising gratitude. <br><br>        
        Eating and sleeping well.</h2>
        
    </div>
    <button class="btn btn-primary " (click)= 'onHC()'>Ok</button>   

</div>  