<div class="row">
    <div class="col-sm-8 col-sm-offset-2">
    <h1>Session 4</h1>
    <h2>Letter</h2> <br>
      <form [formGroup]="leForm" (ngSubmit) = "onSaveLE()">
        <div class="form-group">
          <label for='r1'>Think of someone who has been there
            for you, or made you happy …
            
            Write a letter to that person describing why
            you are grateful towards them.
            
            Describe what they have done for you and
            how it has helped, encouraged or inspired
            you.
            
            Be detailed.
            
            Give this letter to the person sometime this
            week if you can.</label>
          <textarea type="text" id= "r1"
                  class="form-control" 
                  formControlName = "r1"></textarea>
        </div>
                
        <button class="btn btn-primary" [disabled]="leForm.invalid "
        type="submit">Save
        </button>              
      </form>       
    </div>
  </div>