<div class="row">
    <div class="col-sm-8 col-sm-offset-2">
    <h1>Session 9</h1> <br><br><br><br>
    <h2>1. Stay calm and be reasonable <br><br>
        2. Be assertive and say what you want in clear, calm voice <br><br>       
        3. Listen to what the other person says and what they want <br>
        (try to see their point of view) <br><br>        
        4. Compromise by suggesting what you'd be willing to do, if there were todo somthing that you want <br><br>        
        5. Listen again and continue to negotiate until you are both satisfied <br><br>        
        6. If an agreement cannot be reached, have a break and try again later <br><br>        
        </h2>
        
    </div>
    <button class="btn btn-primary " (click)= 'onSS()'>Ok</button>   

</div>  