<div class="row">
    <div class="col-sm-8 col-sm-offset-2">
    <h1>Session 4</h1>
    <h2>Action of your choice</h2> <br>
      <form [formGroup]="aocForm" (ngSubmit) = "onSaveAOC()">
        <div class="form-group">
          <label for='r1'>Please write here what you are going to do for someone else and try to complete it by
            next week.</label>
          <textarea type="text" id= "r1"
                  class="form-control" 
                  formControlName = "r1"></textarea>
        </div>
                
        <button class="btn btn-primary" [disabled]="aocForm.invalid "
        type="submit">Save
        </button>              
      </form>       
    </div>
  </div>