<div class="row">
    <div class="col-sm-8 col-sm-offset-2">
    <h1>Session 1</h1> <br><br>
    <h2>Everybody feels down or stressed at times.
        DeStress wil show you how to manage these feelings better </h2>
        
    </div>
</div>  