<div class="row">
    <div class="col-sm-8 col-sm-offset-2">
    <h1>Session 8</h1> <br><br>
      
    <button class="btn btn-primary btn-lg btn-block" (click)= 'onNewMG()'>My goal</button>   
    <button class="btn btn-primary btn-lg btn-block" (click) ='onNewBA()'>Being assertive</button>
    <button class="btn btn-primary btn-lg btn-block" >Agreeing</button>
  
    </div>
  </div>   