<div class="row">
  <div class="col-sm-8 col-sm-offset-2">
  <h1>Session1</h1>
  <h2>Questions and Answer</h2><br>
    <h3>What stresses me out: </h3>
    <form [formGroup]="qaForm" (ngSubmit) = "onSaveQA()">
      <div class="form-group">
        <label for='r1'>About schools ..</label>
        <input type="text" id= "r1"
                class="form-control" 
                formControlName = "r1">
      </div>
      <div class="form-group">
          <label for='r2'>About friends ..</label>
          <input type="text" id= "r2"
                  class="form-control" 
                  formControlName = "r2">
      </div>
      <div class="form-group">
          <label for='r3'>About the world ...</label>
          <input type="text" id= "r3"
                  class="form-control" 
                  formControlName = "r3">              
      </div>
      <h3>What makes me happy: </h3>
      <div class="form-group">
          <label for='r4'>About schools ...</label>
          <input type="text" id= "r4"
                   class="form-control" 
                   formControlName = "r4">
      </div>
      <div class="form-group">
        <label for='r5'>About friends...</label>
        <input type="text" id= "r5"
                class="form-control" 
                formControlName = "r5">
      </div>
      <div class="form-group">
          <label for='r6'>About the world ...</label>
          <input type="text" id= "r6"
                  class="form-control" 
                  formControlName = "r6">                
      </div>
      <button class="btn btn-success" [disabled]="qaForm.invalid "
      type="submit">Save
      </button>          
    </form>
  </div>
</div>