<div class="row">
    <div class="col-sm-8 col-sm-offset-2">
    <h1>Session 6</h1>
    <h2>One Activity</h2> <br>
      <form [formGroup]="oaForm" (ngSubmit) = "onSaveOA()">
        <div class="form-group">
          <label for='r1'>Choose one activity to do during the week and see if it makes you happier</label>
          <input type="text" id= "r1"
                  class="form-control" 
                  formControlName = "r1">
        
        </div>
        <button class="btn btn-primary" [disabled]="oaForm.invalid "
        type="submit">Save
        </button>              
      </form>       
    </div>
  </div>