<div class="row">
    <div class="col-sm-8 col-sm-offset-2">
      <h1>Logbook</h1> <br><br>
      
      <button class="btn btn-primary btn-lg btn-block" (click)="onGoLG1()">Logbook session 1</button>     
      <button class="btn btn-primary btn-lg btn-block" >Logbook session 2</button>    
      <button class="btn btn-primary btn-lg btn-block" >Logbook session 3</button>     
      
  
    </div>
  </div>  
