<div class="row">
    <div class="col-sm-8 col-sm-offset-2">
    <h1>Session 4</h1> <br><br>
      
    <button class="btn btn-primary btn-lg btn-block" (click)="onNewLE()">Letter</button>   
    <button class="btn btn-primary btn-lg btn-block" (click)="onNewAOC()">An Action of your choice</button>
    <button class="btn btn-primary btn-lg btn-block" >Logbook of good deeds</button>
  
    </div>
  </div>  