<div class="row">
    <div class="col-sm-8 col-sm-offset-2">
    <h1>Session 3</h1> <br><br>
      
    <button class="btn btn-primary btn-lg btn-block" >Thinking errors</button>   
    <button class="btn btn-primary btn-lg btn-block" (click)="onNewGA()">Getting angry ?</button>
    <button class="btn btn-primary btn-lg btn-block" (click)= "onNewLG()">Logbook</button>
  
    </div>
  </div>  