<div class="row">
    <div class="col-sm-8 col-sm-offset-2">
    <h1>Session1</h1>
    <h2>Logbook</h2> <br>
      <form [formGroup]="lgForm" (ngSubmit) = "onSaveLG()">
        <div class="form-group">
          <label for='r1'>Stress scale (1 to 10)</label>
          <input type="text" id= "r1"
                  class="form-control" 
                  formControlName = "r1"
                  >
        </div>
        <div class="form-group">
            <label for='r2'>Event</label>
            <input type="text" id= "r2"
                    class="form-control" 
                    formControlName = "r2">
        </div>
        <div class="form-group">
            <label for='r3'>Feeling/emotion/physical esxperience</label>
            <input type="text" id= "r3"
                    class="form-control" 
                    formControlName = "r3">              
        </div>
        
        <button class="btn btn-primary" [disabled]="lgForm.invalid "
        type="submit">Save
        </button>              
      </form>       
    </div>
  </div>