<div class="row">
    <div class="col-sm-8 col-sm-offset-2">
    <h1>Session 5</h1>
    <h2>Strengths</h2> <br>
      <form [formGroup]="strForm" (ngSubmit) = "onSaveSTR()">
        <div class="form-group">
          <label for='r1'>My top strength is"</label>
          <input type="text" id= "r1"
                  class="form-control" 
                  formControlName = "r1">
        </div>
        <div class="form-group">
          <label for='r2'>Somes way i could use my strength during the week</label>
          <input type="text" id= "r2"
                  class="form-control" 
                  formControlName = "r2">
        </div>
        <div class="form-group">
          <label for='r3'>I think my strength would be important when ..</label>
          <input type="text" id= "r3"
                  class="form-control" 
                  formControlName = "r3">
        </div>
                
        <button class="btn btn-primary" [disabled]="strForm.invalid "
        type="submit">Save
        </button>              
      </form>       
    </div>
  </div>