<div class="row">
        <div class="col-sm-8 col-sm-offset-2">
        <h1>Session 6</h1> <br><br>
          
        <button class="btn btn-primary btn-lg btn-block" (click)="onNewOA()">One Activity</button>   
        <button class="btn btn-primary btn-lg btn-block" >Acts of Kindness</button>
      
        </div>
      </div>  