<div class="row">
    <div class="col-sm-8 col-sm-offset-2">
    <h1>Session1</h1>
    <h2>Stressometers</h2><br>
      <form [formGroup]="stForm" (ngSubmit) = "onSaveST()">
        <div class="form-group">
          <label for='r1'>Stress scale (1 to 10)</label>
          <input type="text" id= "r1"
                  class="form-control" 
                  formControlName = "r1"
                  >
        </div>
        <div class="form-group">
            <label for='r2'>Describe a time when you felt really down</label>
            <input type="text" id= "r2"
                    class="form-control" 
                    formControlName = "r2">
        </div>
        <div class="form-group">
            <label for='r3'>Describe a time when you felt a lot down</label>
            <input type="text" id= "r3"
                    class="form-control" 
                    formControlName = "r3">              
        </div>
        <div class="form-group">
              <label for='r4'>Describe a time when you felt a little down</label>
              <input type="text" id= "r4"
                     class="form-control" 
                     formControlName = "r4">
        
                  
        </div>
        <button class="btn btn-success" [disabled]="stForm.invalid "
        type="submit">Save
  </button>
            
      </form>
    </div>
  </div>