<div class="row">
    <div class="col-sm-8 col-sm-offset-2">
    <h1>Session 7</h1> <br><br>
      
    <button class="btn btn-primary btn-lg btn-block" (click) = "onNewFF()">Fun Form</button>   
    <button class="btn btn-primary btn-lg btn-block" (click) = "onNewHA()">Habit</button>
    <button class="btn btn-primary btn-lg btn-block" (click) = "onNewRA()">Realistic goal</button>
    <button class="btn btn-primary btn-lg btn-block" (click) = "onNewTR()">Triggers</button>
  
    </div>
  </div>  