/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Indie+Flower');

label{color: #345d4c; text-align: center;font-family: 'Indie Flower';}
body {background-color: #b0d4d4;}
h1   {color: #0a688dd7;position: relative; text-align: center;
    font-family: 'Indie Flower';
    font-size:65px;}
p   {color: #3a5d4c; text-align: center;}
h2    {color:#238373; text-align: center; font-family: 'Indie Flower';}
h3    {color:#238373; text-align: left; font-family: 'Indie Flower';}

head {color: #f79b07; text-align: center;}
legend {color: #345d4c; text-align: center;font-family: 'Indie Flower';}
button {margin: auto; color: #f79b07}