<div class="row">
    <div class="col-sm-8 col-sm-offset-2">
    <h1>Session 1</h1> <br><br>
    
    <button class="btn btn-primary btn-lg btn-block" (click)="onNewQA()">Questions and Answer</button>   
    <button class="btn btn-primary btn-lg btn-block" (click)="onNewST()">Stressometer</button>
    <button class="btn btn-primary btn-lg btn-block" >Match physicals and feelings</button>
    <button class="btn btn-primary btn-lg btn-block" (click)="onNewLG()">Logbook</button>

  </div>
</div>  