<div class="row">
    <div class="col-sm-8 col-sm-offset-2">
    <h1>Session 2</h1>
    <h2>Realistic thinking</h2> <br>
      <form [formGroup]="unForm" (ngSubmit) = "onSaveRT()">
        <div class="form-group">
          <label for='r1'>I am thinking ...</label>
          <input type="text" id= "r1"
                  class="form-control" 
                  formControlName = "r1"
                  >
        </div>
        <div class="form-group">
            <label for='r2'>and  I feel ...</label>
            <input type="text" id= "r2"
                    class="form-control" 
                    formControlName = "r2">
        </div>
        <div class="form-group">
            <label for='r3'>It is a fact that ...</label>
            <input type="text" id= "r3"
                    class="form-control" 
                    formControlName = "r3">              
        </div>
        <div class="form-group">
            <label for='r4'>BUT it is just a thought that ...</label>
            <input type="text" id= "r4"
                    class="form-control" 
                    formControlName = "r4">
        </div>
        <div class="form-group">
            <label for='r5'>How realistic is that thought ?</label>
            <input type="text" id= "r5"
                    class="form-control" 
                    formControlName = "r5">              
        </div>
        <div class="form-group">
          <label for='r6'>The I would feel ...</label>
          <input type="text" id= "r6"
                  class="form-control" 
                  formControlName = "r6">
        </div>
        <div class="form-group">
          <label for='r7'>And what I would do is ... </label>
          <input type="text" id= "r7"
                  class="form-control" 
                  formControlName = "r7">              
        </div>
        
        <button class="btn btn-primary" [disabled]="unForm.invalid "
        type="submit">Save
        </button>              
      </form>       
    </div>
  </div>