<div class="row">
    <div class="col-sm-8 col-sm-offset-2">
      <h1>DeStress</h1> <br><br>
      
      <button class="btn btn-primary btn-lg btn-block" (click)="onGoSession()">Sessions</button>    
      <button class="btn btn-primary btn-lg btn-block" >Discovery</button>
      <button class="btn btn-primary btn-lg btn-block" >Network</button>
      <button class="btn btn-primary btn-lg btn-block" (click) = "onGoLogbook()">Logbook</button>
  
    </div>
  </div>  