<div class="row">
    <div class="col-sm-8 col-sm-offset-2">
    <h1>Session 9</h1>
    <h2>Any successes with :</h2><br>
      <form [formGroup]="asForm" (ngSubmit) = "onSaveAS()">
        <div class="form-group">
          <label for='r1'>Realistic Thinking ?</label>
          <input type="text" id= "r1"
                  class="form-control" 
                  formControlName = "r1"
                  >
        </div>
        <div class="form-group">
            <label for='r2'>Assertiveness ?</label>
            <input type="text" id= "r2"
                    class="form-control" 
                    formControlName = "r2">
        </div>
        <div class="form-group">
            <label for='r3'>Changing Habits ?</label>
            <input type="text" id= "r3"
                    class="form-control" 
                    formControlName = "r3">              
        </div>
        <div class="form-group">
              <label for='r4'>Doing fun things ?</label>
              <input type="text" id= "r4"
                     class="form-control" 
                     formControlName = "r4">
        
                  
        </div>
        <button class="btn btn-success" [disabled]="asForm.invalid "
        type="submit">Save
  </button>
            
      </form>
    </div>
  </div>