<div class="row">
    <div class="col-sm-8 col-sm-offset-2">
    <h1>Session 7</h1>
    <h2>Fun Form</h2><br>
      <form [formGroup]="ffForm" (ngSubmit) = "onSaveFF()">
        <div class="form-group">
          <label for='r1'>What I did</label>
          <input type="text" id= "r1"
                  class="form-control" 
                  formControlName = "r1"
                  >
        </div>
        <div class="form-group">
            <label for='r2'>How long did it for</label>
            <input type="text" id= "r2"
                    class="form-control" 
                    formControlName = "r2">
        </div>
        <div class="form-group">
            <label for='r3'>How i felt</label>
            <input type="text" id= "r3"
                    class="form-control" 
                    formControlName = "r3">              
        </div>
        <div class="form-group">
              <label for='r4'>Feeling Scale Before and after</label>
              <input type="text" id= "r4"
                     class="form-control" 
                     formControlName = "r4">
        
                  
        </div>
        <button class="btn btn-success" [disabled]="ffForm.invalid "
        type="submit">Save
  </button>
            
      </form>
    </div>
  </div>