<div class="row">
    <div class="col-sm-8 col-sm-offset-2">
    <h1>Session 8</h1> <br>
    <h2>Being Assertive</h2> <br>
    <h3>Being assertive means being direct and honest without being offensive or aggressive.</h3> <br><br>
    <h3>Body posture :</h3>
    <p>Stand tall with head up and shoulders back</p>
    <h3>Eye contact :</h3>
    <p>Looking at the person tells them you mean what you're saying. <br>
    Looking down or looking away are signs you are not sure of yourself</p> <br>
    <h3>Relax and stay calm :</h3>
    <p>Breathe slowly down into yout lungs and belly</p> <br><br>
    <h2>Saying "No"</h2> <br>
    <h3>To people you know well :</h3> 
    <p>You may be worried saying “no” will affect your friendship. <br>
        Explaining why you said “no” will help them understand.</p> <br>
    <h3>To people you don’t know well :</h3>
    <p>Say, “No, thank you” or “I don’t want to do that”. <br>
        You can repeat it, change the subject or walk away.</p> <br>
    <h3>Sometimes people don’t get the message the first time. 
        If this happens:</h3> 
    <p>Repeat the same message. <br>
        Stay calm, keep your voice steady and strong, and do not shout.</p> <br>
    <h2>Example :</h2>
    <p>Kiri lent her CD to Jenna. She has not returned it although Kiri asked her a week ago about it. <br><br>

        Kiri: Jenna, can you give me my CD back please. <br>       
        Jenna: But I haven’t had a chance to listen to it yet – our stereo broke. <br>        
        Kiri: But I want to listen to it. <br>        
        Jenna: Mum’s getting a CD player at the weekend. I’ll bring it back on Monday. <br>        
        Kiri: Jenna, you have had it for ages. I want my CD back tomorrow. <br>        
        Jenna: Well, I haven’t had a chance to listen to it yet. <br>        
        Kiri: I want my CD back tomorrow. Please bring it to school. <br>        
        Jenna: OK, can I borrow it again next week ? <br>        
        Kiri: Sure. I’ll lend it to you again on Monday.</p> <br>
    
    <form [formGroup]="baForm" (ngSubmit) = "onSaveBA()">
        <div class="form-group">
          <h3 for='r1'>What are Kiri’s rights in this situation?</h3>
          <textarea type="text" id= "r1"
                  class="form-control" 
                  formControlName = "r1"></textarea>
        </div>
        <div class="form-group">
            <h3 for='r2'>What are Jenna’s rights in this situation?</h3>
            <textarea type="text" id= "r2"
                    class="form-control" 
                    formControlName = "r2"></textarea>
                      
        </div>
        <button class="btn btn-success" [disabled]="baForm.invalid "
        type="submit">Save
        </button>          
      </form>
    </div>
</div>  